<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCDlk1eYnQhisoHAIymtaR0Gq6VETUKpFM</string>
	<key>GCM_SENDER_ID</key>
	<string>482286911736</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.rabieHs.MoneyMentor</string>
	<key>PROJECT_ID</key>
	<string>moneymentor-bcd4d</string>
	<key>STORAGE_BUCKET</key>
	<string>moneymentor-bcd4d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:482286911736:ios:745bbaef5f95f60a39fb0d</string>
</dict>
</plist>